@charset "UTF-8";

.main-slick div img {
	width: 100%;
	height:750px;
}

.room1, .room2 {
	width: 100%;
	height:750px;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}
.room1{
	background-image: url("../images/valley1.jpg");
}
.room2{
	background-image: url("../images/bigroom1.jpg");
}

.roomtxt{
	float: right;
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.pretxt{
	    position: relative;
    padding: 0 40px;
    color: white;
    transform: translate(0px,100px);
    transition: transform 1000ms;
}

.slick-current.slick-active .pretxt {
    transform: translate(0,0);
}
.roombtn{
	    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    left: 0;
    width: 100%;
    font-family: "Poiret One";
    
}



.nextbtn, .prevbtn{
	 text-decoration:none;
	 color:black;
	 margin: 30px;
}

.nextbtn {
	color: #ebb68c;
}

.pretxt a{
	    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

.slick-btn{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.left{
	    left: 20px;
}
.right{
	    right: 20px;
}
.slick-btn-main{
	    position: absolute;
    z-index: 100;
    width: 100%;
    top: 47%;
    transform: translate(0, -50%);
}

.top{
	position: relative;
    padding-top: 150px;
    text-align: center;
    font-family: "Nanum Gothic";
    background: url(../images/main_top.jpg)no-repeat 50% 50%;
    background-size: 100%;
}

.wrap_preview {
    position: relative;
    margin-top: 50px;
    height: 700px;
}



