<?xml version="1.0" encoding="UTF-8"?>

    <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.pro.yuna.CampAdminDAO" alias="campAdminDao"/>
  		<typeAlias type="com.pro.yuna.CampAdminDTO" alias="campAdminDto"/>
  		<typeAlias type="com.pro.yuna.CampMemberDAO" alias="campMemberDao"/>
  		<typeAlias type="com.pro.yuna.CampMemberDTO" alias="campMemberDto"/>
  		<typeAlias type="com.pro.yuna.CampNoticeDAO" alias="campNoticeDao"/>
  		<typeAlias type="com.pro.yuna.CampNoticeDTO" alias="campNoticeDto"/>
  		<typeAlias type="com.pro.yuna.CampQaDTO" alias="campQaDao"/>
  		<typeAlias type="com.pro.yuna.CampQaDAO" alias="campQaDto"/>
  		<typeAlias type="com.pro.yuna.PageDTO" alias="pageDto"/>
  		
  		<!--  예약 경로-->
  		<typeAlias type="com.pro.kdc.campingDAO" alias="campdao"/>
		<typeAlias type="com.pro.kdc.campingDTO" alias="campdto"/>
		<typeAlias type="com.pro.cda.CDA_campingDAO" alias="CDA_campingDAO"/>
		<typeAlias type="com.pro.cda.CDA_roomDTO" alias="CDA_roomDTO"/>
		<typeAlias type="com.pro.cda.CalendarDTO" alias="CalendarDTO"/>
		<typeAlias type="com.pro.cda.CDA_paymentdetailDTO" alias="CDA_paymentdetailDTO"/>
		<typeAlias type="com.pro.cda.CDA_paymentDTO" alias="CDA_paymentDTO"/>
		
		<!-- 리뷰 -->
		<typeAlias type="com.pro.ogjmodel.ReviewDAO" alias="reviewdao"/>
		<typeAlias type="com.pro.ogjmodel.ReviewDTO" alias="reviewdto"/>
		<typeAlias type="com.pro.ogjmodel.ReviewPageDTO" alias="reviewpagedto"/>
  	</typeAliases>
  </configuration>